body {
  background-color: rgb(37, 37, 37);
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.timer {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.096);
  border-radius: 3px;
}

input[type="text"]:focus {
  outline: none;
}

input {
  width: 8vw;
  height: 4vh;
  text-align: right;
  border: 0;
  border-bottom: 2px solid rgb(126, 126, 126);
  background-color: transparent;
  color: #ffffffcc;
}

input:hover {
  background-color: rgba(128, 128, 128, 0.096);
}

.even-numbered-horizontal {
  margin-left: 5px;
  margin-right: 5px;
}

.timer-inputs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 16%;
  margin-bottom: 7px;
}

.progress-bar {
  margin-bottom: 5px;
  width: 100%;
  height: 15px;
  background-color: rgb(138, 179, 218);
  border-radius: 3px;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.63);
}

button {
  width: 32%;
  height: 3vh;
  border: 0;
  background-color: rgba(128, 128, 128, 0.5);
  color: #ffffffcc;
  border-radius: 3px;
}

.menu button {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.menu p {
  margin: 5px;
}

.menu {
  display: flex;
  align-items: center;
}